<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>

        <ion-title>botones</ion-title>

        <ion-buttons slot="end">
            
            <ion-button >
                <ion-icon name="star"></ion-icon>
            </ion-button>
            
            <ion-button >
                <ion-icon name="heart"></ion-icon>
            </ion-button>
        
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <!-- Botones normales -->
    <ion-button size="small" expand="full">Small</ion-button>
    <ion-button size="default" expand="full">Default</ion-button>
    <ion-button size="large" expand="full">Large</ion-button>

    <!-- Anchor -->
    <ion-button routerLink="/alert" color="warning" class="top-20" expand="full">
        Anchor
    </ion-button>

    <ion-row class="top-20">
        <ion-col col-6>
            <ion-button routerLink="/avatar" color="warning" expand="full">
                Avatar
            </ion-button>
        </ion-col>
        <ion-col col-6>
            <ion-button routerLink="/action-sheet" color="warning" expand="full">
                Action Sheet
            </ion-button>
        </ion-col>
    </ion-row>

    <!-- Fill -->
    <ion-button class="top-20" fill="clear">Clear</ion-button>
    <ion-button class="top-20" fill="outline">Outline</ion-button>
    <ion-button class="top-20" fill="solid">Solid</ion-button>

</ion-content>