<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center ion-text-capitalize"> {{nombre}} -- {{pais}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button (click)="salirSinArgumentos()" expand="block" shape="round" color="primary">
    Salir sin Argumentos
  </ion-button>

  <ion-button (click)="salirConArgumentos()" expand="block" shape="round" color="secondary">
    Salir con Argumentos
  </ion-button>




</ion-content>
